<div class="card">
    <img src="./assets/img/fondo1.jpg" class="card-img-top" alt="fondo montaña">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <div class="d-flex">
                    <img src="./assets/img/persona.jpg" class="carnet" alt="persona">
                    <div class="fotoPincel">
                        <button tipe="button">
                            <i class="bi bi-pencil"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Milo dEscorpio</h5>
                    <span>Full Stack
                        Developer Jr</span>
                    <p class="card-text">Informatico en Curso <br>Buenos Aires (Argentina) <a href="#"
                            class="card-link">informacion de contacto</a></p>
                </div>
            </div>
            <div id="logo-derecho" class="col-xs-12 col-sm-2">
                <img class="logo" id="logo-derecho-lugar" src="./assets/img/logo-argprog.png" alt="logo arg programa">Argentina
                Programa
            </div>
        </div>
        <div>
            <a href="#" class="btn btn-primary">Tengo interés en</a>
            <a href="#" class="card-link">Añadir Sección</a>
            <a href="#" class="card-link">Mas</a>
        </div>
    </div>
</div>
