<nav class="navbar-expand-lg sticky-top">
    <div class="nav">
        <div class="logo-navegador">
            <img class="logo" src="logo-argprog.png" alt="logo arg programa">
            <div class="texto-navegador">Argentina Programa</div>
        </div>
        <div class="icono-redes" href="#">
            <a href="https://es-la.facebook.com/" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-instagram"></i></a>
            <a href="https://twitter.com/?lang=es" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-twitter"></i></a>
        </div>
        <!--icono tipo boton enlazado con modal-1 para Iniciar Sesion-->
        <i class="bi bi-person-lock" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">

        </i>
    </div>
</nav>

<app-modals></app-modals>

<app-primero></app-primero>
<app-segundo></app-segundo>
<app-tercero></app-tercero>
<app-cuarto></app-cuarto>
<app-quinto></app-quinto>
<app-footer></app-footer>