<div class="card">
    <div class="card-body">

        <div class="row">
            <div class="col-10" medio>
                <h3 class="card-title">Proyectos</h3>
            </div>
            <div class="col-2" editores>
                <button tipe="button">
                    <i class="bi bi-plus-lg"></i>
                </button>
            </div>
        </div>

        <div class="row" id="filaEspacio">
            <div class="col-xs-12 col-sm-2" logo>
                <img id="lugares-logo" class="logo" src="./assets/img/logo-argprog.png" alt="logo arg programa">
            </div>
            <div class="col-xs-12 col-sm-8" id=medio>
                <h4 class="card-title">Nombre de Lugares </h4>
                <p><strong>Some quick example text to build on the card title and make up the bulk
                        of the card's
                        content.</strong></p><strong>
                </strong>

            </div>
            <div class="col-xs-12 col-sm-2" id=editores>
                <button tipe="button">
                    <i class="bi bi-pencil"></i>
                </button>
                <button tipe="button">
                    <i class="bi bi-trash3"></i>
                </button>
            </div>

        </div>
        <div class="row" id="filaEspacio">
            <div class="col-xs-12 col-sm-2" logo>
                <img id="lugares-logo" class="logo" src="./assets/img/logo-argprog.png" alt="logo arg programa">
            </div>
            <div class="col-xs-12 col-sm-8" id=medio>
                <h4 class="card-title">Nombre de Lugares </h4>
                <p><strong>Some quick example text to build on the card title and make up the bulk
                        of the card's
                        content.</strong></p><strong>
                </strong>

            </div>
            <div class="col-xs-12 col-sm-2" id=editores>
                <button tipe="button">
                    <i class="bi bi-pencil"></i>
                </button>
                <button tipe="button">
                    <i class="bi bi-trash3"></i>
                </button>
            </div>

        </div>

    </div>
</div>
