<div class="card">
    <div class="card-body">

        <div class="row">

            <div class="col-10" medio>
                <h5 class="card-title">Acerca de</h5>
            </div>
            <div class="col-2" onclick="cambiar_parrafo()" editores>
                <button tipe="button">
                    <i class="bi bi-plus-lg"></i>
                </button>
            </div>
            <p id="text-acercade" class="card-text">Some quick example text to build on the card title and make up the bulk
                of the card's
                content.</p>
        </div>
        <div>
            <input id="edit-acercade" type="text" oninput="myFunction2(this.value)" style="display:none;">
        </div>
    </div>
<!--tarea: buscar como cambiar el texto dentro del boton ¿sera serca de aca o en el script?-->
    <input type="file" id="file1" onchange="showFile(this)">
</div>



