/*barra navegacion*/

.nav {
    background-color: rgba(0, 0, 0, 0.767);
    padding: 1%;
}

.logo-navegador {
    display: flex;

}

.texto-navegador {
    margin: auto;
    color: rgba(248, 203, 0, 0.76);
}

/* (margin-left:auto) coloco iconos y boton a la derecha*/
.icono-redes {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.icono-redes a {
    padding: 10px;
    margin: 10px;
}

.icono-redes i {
    color: aqua;
    font-size: 25px;
}


.icono-redes i:hover {
    font-size: 25px;
    color: rgb(72, 45, 194);
    border-radius: 100%;
    transition: all 0.5s ease-in;

}

/*icono login persona (alternativargb(95, 160, 117))*/
.bi-person-circle {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 2rem;
    color: rgb(14, 230, 14);
    transition: all 0.5s ease-in-out;
}

.bi-person-circle:hover {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 2rem;
    color: white;
    transition: all 0.5s ease-in-out;
}

#userDesplego {
    margin-top: -5%;
    margin-bottom: -5%;
    border: 5px solid gray;
    border-radius: 3px;
    background-color:rgba(28, 197, 84, 0.747);
    transition: all 0.5s ease-in-out;
}

#userDesplego:hover {
    margin-top: -5%;
    margin-bottom: -5%;
    border: 5px solid gray;
    border-radius: 3px;
    background-color: white;
    transition: all 0.5s ease-in-out;
}

/*icono login candado*/
.bi-person-lock {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 2rem;
    color: red;
    transition: all 0.5s ease-in-out;
}

.bi-person-lock:hover {
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    font-size: 2rem;
    transition: all 0.5s ease-in-out;
}