<!--linea img en src"importante poner "./ " (primero) luego escribir ruta de foto"-->
<nav class="navbar-expand-lg sticky-top">
    <div class="nav">
        <div class="logo-navegador">
            <img class="logo" src="./assets/img/logo-argprog.png" alt="logo arg programa">
            <div class="texto-navegador">Argentina Programa</div>
        </div>
        <div class="icono-redes" href="#">
            <a href="https://es-la.facebook.com/" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-instagram"></i></a>
            <a href="https://twitter.com/?lang=es" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-twitter"></i></a>
        </div>
        <!--boton desplegable Cerrar Sesion-->
        <i class="bi bi-person-circle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true"
        aria-expanded="false">
        <div class="dropdown-menu">
            <div id="userDesplego" class="dropdown-item text-center"><a routerLink="/porfolio"><strong>Cerrar Sesion<br>Click
                aqui</strong></a>
            </div>
        </div>
    </i>
    </div>
</nav>

<app-modals></app-modals>
